<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="testng" >
    <test name="Test Demo" >
        <classes>
            <class name="com.Sorokin.TestNGDemo" />
        </classes>
    </test>
    <test name="Test Demo2" >
        <classes>
            <class name="com.Sorokin.TestNGDemo2" />
        </classes>
    </test>
</suite>
